* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  width: 100%;
  min-height: 100vh;
  background: #2962ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(176, 222, 10);
}

.header {
  text-align: center;
  margin-bottom: 2rem;
}

.animcon {
  background-color: #2962ff;
  overflow: hidden;
  margin: 20px auto;
  height: 170px;
  width: 170px;
  border-radius: 50%;
  background-image: url('https://raw.githubusercontent.com/naaficodes/Monkey-Login/master/images/monkey.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  position: relative;
  border: 2px solid #0c4d7a;
}

.animcon img {
  position: absolute;
  bottom: -70%;
  left: 0;
  right: 0;
  margin: auto;
  height: 170px;
  width: 170px;
  transition: bottom 0.3s ease-in-out;
  filter: brightness(1.2); 
}

.container {
  background: rgba(0, 0, 0, 0.8); 
  color: white;
  padding: 2rem;
  border-radius: 10px;
  width: 200%;
  max-width: 600px;
  text-align: center;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 15px rgba(0,0,0,0.35);
  border: 1px solid #0c4d7a;
  margin-left: -110px;
  
}

input {
  padding: 10px;
  border: 1px solid #0c4d7a;
  border-radius: 5px;
  width: 100%;
  max-width: 300px;
  margin: 1rem 0;
  background: rgba(255, 255, 255, 0.9);
  color: #083b5f;
}

button {
  background: linear-gradient(25deg, #16bc53 0%,#2962ff 100%);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 1rem 0;
  border: 1px solid transparent;
}

button:hover {
  background-color: #0062cc;
  transform: translateY(-2px);
  box-shadow: 0 2px 8px rgba(0,0,0,0.3);
}

#result {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
  color: rgb(176, 222, 10);
}

.footer {
  margin-top: 2rem;
  text-align: center;
  color: rgb(176, 222, 10);
}

input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0,123,255,0.5);
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(35deg, #16bc53 0%,#2962ff 100%);
  z-index: -1;
}